/*CSS Meyer Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*__________________________________________*/

:root {
/*_____Theme 1 (leaves)______*/    
    
/* Color pallet pulled from bg1-leaves*/
--viridian: hsla(155, 27%, 43%, 1);
--brunswick-green-dark: hsla(174, 66%, 19%, 1);
--brunswick-green-2: hsla(175, 66%, 14%, 1);
--rich-black: hsla(187, 94%, 7%, 1);
--mint: hsla(155, 37%, 58%, 1);

--mint-light: hsla(155, 37%, 90%, 1);
--mint-dark: hsla(155, 37%, 40%, 1);
--viridian-light: hsla(155, 27%, 60%, 1);
--brunswick-green-med: hsla(174, 66%, 30%, 1);
--brunswick-green-light: hsla(174, 66%, 90%, 1);
--rich-black-fade: hsla(187, 94%, 7%, 0.5);


/*___Theme 2 (beach)______*/

/* Color pallet pulled from bg2-beach */
/* CSS HSL */
--antiflash-white: hsla(206, 26%, 95%, 1);
--brown-sugar: hsla(26, 40%, 47%, 1);
--desert-sand: hsla(21, 54%, 74%, 1);
--midnight-green: hsla(179, 89%, 11%, 1);
--moonstone: hsla(187, 34%, 59%, 1);
--pine-green: hsla(172, 88%, 23%, 1);

--moonstone-light: hsla(187, 34%, 90%, 1);
--moonstone-dark: hsla(187, 34%, 50%, 1);
--desert-sand-light: hsla(21, 54%, 74%, 1);
--pine-green-light: hsla(172, 88%, 35%, 1);
}

@font-face {
    font-family: young-serif;
    src: url('fonts/young-serif.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: new-font;
    src: url('fonts/open-sans.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
    
}

html {
    font-size: 16px;
    font-family: new-font, sans-serif;
}

/*div {
    border: 1px solid var(--brunswick-green-med);
}*/

.container {
    display: grid;
    grid-template: 150px 1fr 50px / minmax(250px, 1fr) 4fr;
    /* grid-template shorthand: grid-rows / grid-columns*/
    height: 100vh;
    background-color: var(--brunswick-green-light);
}


/*__________Header__________*/


.header {
    grid-column: 2 / 3;
    background-color: var(--brunswick-green-light);
    /*background-color: var(--antiflash-white);*/
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 0px 20px;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr 250px;
}

.search {
    grid-column: 1;
    display: grid;
    grid-template: 70px / 50px 1fr;
    align-items: center;
}

.icon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg {
    width: 25px;
    height: 25px; 
}

path {
    fill: var(--brunswick-green-dark);
}

.search input[type="search"] {
    padding: 5px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 4px var(--brunswick-green-med);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    width: 85%;
    border: 0;
    outline: 0;
}

.search input[type="search"]:focus {
    box-shadow: 1px 1px 4px 1px var(--brunswick-green-med);
    /*border-color does not work in this context, use outline instead*/
}

.accounts {
    display: grid;
    grid-template-columns: 50px 50px 1fr;
    align-items: center;
    gap: 10px;
}

.notifications {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.side-icon {
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.side-icon img {
    height: 100%;
}

.account-name {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: var(--brunswick-green-dark);
    cursor: pointer;
    font-family: young-serif, sans-serif;
    letter-spacing: 0.04rem;
}

.header-bottom {
    display: grid;
    grid-template: 1fr / 70px minmax(180px, 1fr) 325px;
    gap: 0px 20px;
    align-items: center;
    margin-top: -10px;
}

.main-icon {
    grid-row: 1 / 3;
    height: 65px;
    width: 65px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.main-icon img {
    height: 100%;
}

.intro {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro > p {
    font-family: young-serif, sans-serif;
}

.intro > p:nth-child(2) {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.header-options {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: center;
}

.header-options ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 20px;
}

.header-options li {
    width: 100%;
}

button {
    background-color: var(--brunswick-green-dark);
    color: var(--brunswick-green-light);
    font-family: young-serif, sans-serif;
    letter-spacing: 0.04rem;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 50px;
    border: 0;
    transition: 1s ease;
}

button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
    cursor: pointer;
}


/*__________Sidebar__________*/


.sidebar {
    grid-row: 1 / 3;
    padding: 20px;
    background-color: var(--brunswick-green-med);
    color: var(--brunswick-green-light);
    font-family: young-serif, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.04em;
    display: flex;
    /*background-color: var(--moonstone-dark);
    color: var(--antiflash-white);*/
    flex-direction: column;
    gap: 60px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 30px;
}

.title > .icon > .svg {
    width: 45px;
    height: 45px;
}

.link {
    transition: 1s ease;
}

.link:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    cursor: pointer;

}

.nav-menu {
    display: grid;
    grid-template: repeat(6, 50px) / 50px 1fr;
    align-items: center;
    gap: 0px 10px;
}

.nav-menu > .icon > .svg,
.settings-menu > .icon > .svg {
    
    width: 30px;
    height: 30px;
}

.settings-menu {
    display: grid;
    grid-template: repeat(3, 50px) / 50px 1fr;
    align-items: center;
    gap: 0px 10px;
}


/*__________Main__________*/


.main {
    /*background-image: url('img/bg2-beach.jpg');
    background-size: cover;
    background-position: 50% 50%;
    */
    background-color: var(--rich-black);
    display: grid;
    grid-template: 60px 240px 60px 270px 1fr / 1fr 220px;
    padding: 0px 20px 0px 0px;
    position: relative;
}

.main::before {
    content: "";
    background-image: url('img/backgrounds/bg1-leaves.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

h3 {
    align-self: self-end;
    padding: 10px;
    font-family: young-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
    color: var(--brunswick-green-light);
    background-color: var(--rich-black-fade);
    border-radius: 20px;
    margin-bottom: 5px;
    
}

.projects-header {
    margin-left: 20px;
    margin-right: 22px;
    
}

.projects,
.announcements,
.trending,
h3 {
    position: relative;
}

.projects {
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    padding: 0px 20px 20px 20px;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    min-height: 240px;
    background-color: var(--brunswick-green-light);
    /*background-color: var(--antiflash-white);*/
    border-radius: 20px;
    transition: 1s ease;
}

.card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s ease;
}

.card-img {
    height: 100px;
    width: 100%;
    align-self: center;
    border-radius: 12px;
    border: 2px solid var(--brunswick-green-dark);
}

.card-img > a > img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card > h5 {
    font-family: young-serif;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
    margin: 20px 0px 10px 0px;
}

.card > p {
    font-family: new-font, sans-serif;
    font-weight: 400;
    margin-bottom: auto;
    font-size: 0.85rem;
    line-height: 1.2;
}

.card .card-icons {
    display: flex;
    align-self: flex-end;
    gap: 3px;
    margin-top: 3px;
    cursor: pointer;
}

.card > .card-icons > .icon > .svg {
    width: 20px;
    height: 20px;
}


/*__________Announcements__________*/


.announcements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--brunswick-green-light);
    /*background-color: var(--antiflash-white);*/
    border-radius: 20px;
    padding: 15px;
}

.announcement-section {
    border-bottom: 1px solid var(--brunswick-green-med);
}

.announcement-section > h6 {
    font-family: young-serif, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 7px;
}

.announcement-section > p {
    font-family: new-font, sans-serif;
    font-size: 0.8rem;
    margin-bottom: 9px;
}


/*__________Trending__________*/


.trending {
    display: grid;
    grid-template: repeat(4, 1fr) / 50px 1fr;
    gap: 0px 10px;
    align-items: center;
    justify-items: stretch;
    background-color: var(--brunswick-green-light);
    /*background-color: var(--antiflash-white);*/
    border-radius: 20px;
    padding: 15px;
}

.trending .icon {
    height: 50px;
    width: 50px;
    justify-self: center;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.trending img {
    width: 110%;
    object-position: 50% 50%;
}



.name {
    font-family: young-serif, sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}

.name-title {
    font-family: new-font, sans-serif;
    font-size: 0.8rem;
}

.footer {
    grid-column: 1 / 3;
    background-color: var(--brunswick-green-dark);
    color: var(--brunswick-green-light);
    /*background-color: var(--moonstone-dark);
    color: var(--antiflash-white); */
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}